@page
@using ContosoCrafts.WebSite.Components
@using ContosoCrafts.WebSite.Pages
@model ContosoCrafts.WebSite.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Xinxin Li</h1>
@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>